body {
    background-image: url(/HTML/Miscellaneous/Presentation/112264___media_library_original_960_540.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
}
.grid-container {
    display: grid;
    gap: 10px;
    background-color: aqua;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}
